---
- name: "Install pipx tools"
  community.general.pipx:
    name: "{{ item.name }}"
    source: "{{ item.source }}"
    state: latest
  with_items:
    - "{{ pipx_packages }}"

- name: Install Python Pip Packages
  ansible.builtin.pip:
    name: "{{ python_pip_packages}}"
    state: latest
    executable: pip3